<?xml version="1.0"?>
<!-- This is sample testing configuration file for
     randomness testing toolkit. -->
<RANDOMNESS_TESTING_TOOLKIT>
    <TOOLKIT_SETTINGS>empty</TOOLKIT_SETTINGS>

    <DIEHARDER_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/dieharder/bin/dieharder</BINARY_PATH>
        <DEFAULT_OUTPUT_DIRECTORY>dieharder_out</DEFAULT_OUTPUT_DIRECTORY>
        <DEFAULT_OPTIONS>-p 10</DEFAULT_OPTIONS>
        
        <TESTS_SETTINGS>
            <SETTINGS test="0">-p 100</SETTINGS>
            <SETTINGS test="1">-p 1000</SETTINGS>
            <SETTINGS test="2">-p 1000</SETTINGS>
            <SETTINGS test="3">-p 1000</SETTINGS>
            <SETTINGS test="4">-p 1000</SETTINGS>
            <SETTINGS test="5">-p 1000</SETTINGS>
            <SETTINGS test="6">-p 1000</SETTINGS>
            <SETTINGS test="7">-p 1000</SETTINGS>
            <SETTINGS test="8">-p 1000</SETTINGS>
            <SETTINGS test="9">-p 1000</SETTINGS>
        </TESTS_SETTINGS>
    </DIEHARDER_SETTINGS>

    <NIST_STS_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/sts-2.1.2/assess</BINARY_PATH>
        <DEFAULT_OUTPUT_DIRECTORY>niststs_out</DEFAULT_OUTPUT_DIRECTORY>
        <STREAM_SIZE_DEFAULT>1000000</STREAM_SIZE_DEFAULT>
        <STREAM_COUNT_DEFAULT>100</STREAM_COUNT_DEFAULT>
        
        <TESTS_SETTINGS>
            <SETTINGS test="1">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>
            </SETTINGS>
            <SETTINGS test="2">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>
                <BLOCK_LENGTH>128</BLOCK_LENGTH>                 
            </SETTINGS>
            <SETTINGS test="3">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="4">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="5">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="6">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="7">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="8">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>  
                <BLOCK_LENGTH>9</BLOCK_LENGTH>               
            </SETTINGS>
            <SETTINGS test="9">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>
                <BLOCK_LENGTH>9</BLOCK_LENGTH>                
            </SETTINGS>
            <SETTINGS test="10">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>           
            </SETTINGS>
            <SETTINGS test="11">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>   
                <BLOCK_LENGTH>10</BLOCK_LENGTH>          
            </SETTINGS>
            <SETTINGS test="12">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="13">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>             
            </SETTINGS>
            <SETTINGS test="14">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT>    
                <BLOCK_LENGTH>16</BLOCK_LENGTH>         
            </SETTINGS>
            <SETTINGS test="15">
                <STREAM_SIZE>1000000</STREAM_SIZE>
                <STREAM_COUNT>100</STREAM_COUNT> 
                <BLOCK_LENGTH>500</BLOCK_LENGTH>            
            </SETTINGS>
        </TESTS_SETTINGS>
        
    </NIST_STS_SETTINGS>

    <TESTU01_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/TestU01/build/TestU01</BINARY_PATH>
        <DEFAULT_OUTPUT_FILE>results.tu01</DEFAULT_OUTPUT_FILE>
        <REPETITIONS>1</REPETITIONS>
    </TESTU01_SETTINGS>

    <EACIRC_SETTINGS>empty</EACIRC_SETTINGS>
</RANDOMNESS_TESTING_TOOLKIT>
