<?xml version="1.0"?>
<!-- This is sample testing configuration file for
     randomness testing toolkit. -->
<RANDOMNESS_TESTING_TOOLKIT>
    <TOOLKIT_SETTINGS>
    
        <LOGGER>
            <MAIN_DIR>logs/</MAIN_DIR>
            <DIEHARDER_DIR>logs/dieharder/</DIEHARDER_DIR>
            <NIST_STS_DIR>logs/niststs/</NIST_STS_DIR>
            <TESTU01_DIR>logs/testu01/</TESTU01_DIR>
        </LOGGER>
        
        <OUTPUT>
            <FILE>
                <MAIN_FILE>reports/test_comp.table</MAIN_FILE>
            
                <DIEHARDER_DIR>reports/dieharder/</DIEHARDER_DIR>
                <NIST_STS_DIR>reports/niststs/</NIST_STS_DIR>
                <TU01_SMALLCRUSH_DIR>reports/testu01/scrush/</TU01_SMALLCRUSH_DIR>
                <TU01_CRUSH_DIR>reports/testu01/crush/</TU01_CRUSH_DIR>
                <TU01_BIGCRUSH_DIR>reports/testu01/bcrush/</TU01_BIGCRUSH_DIR>
                <TU01_RABBIT_DIR>reports/testu01/rabbit/</TU01_RABBIT_DIR>
                <TU01_ALPHABIT_DIR>reports/testu01/alphabit/</TU01_ALPHABIT_DIR>
            </FILE>
        
            <DATABASE>
                <SOMETHING>nothing</SOMETHING>    
            </DATABASE>
        </OUTPUT>
        
    </TOOLKIT_SETTINGS>

    <DIEHARDER_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/dieharder/bin/dieharder</BINARY_PATH>
        
        <DEFAULT_TESTS>0-4 8-13 15-17 100-102 200-209</DEFAULT_TESTS>
        <DEFAULT_PSAMPLES>100</DEFAULT_PSAMPLES>
        <DEFAULT_ARGUMENTS>-W 0.01 -X 0.01</DEFAULT_ARGUMENTS>
        
        <TESTS_SETTINGS>
            <SETTINGS test="200">
                <ARGUMENTS>-n 12</ARGUMENTS>
            </SETTINGS>
            <SETTINGS test="201">
                <PSAMPLES>1000</PSAMPLES>
                <ARGUMENTS>-n 2 -t 8000</ARGUMENTS>
            </SETTINGS>
            <SETTINGS test="204">
                <PSAMPLES>1000</PSAMPLES>
            </SETTINGS>
            <SETTINGS test="205">
                <PSAMPLES>1</PSAMPLES>
            </SETTINGS>
            <SETTINGS test="206">
                <PSAMPLES>1</PSAMPLES>
            </SETTINGS>
            <SETTINGS test="207">
                <PSAMPLES>1</PSAMPLES>
            </SETTINGS>
            <SETTINGS test="208">
                <PSAMPLES>1</PSAMPLES>
            </SETTINGS>
            <SETTINGS test="209">
                <PSAMPLES>1</PSAMPLES>
            </SETTINGS>
        </TESTS_SETTINGS>
        
    </DIEHARDER_SETTINGS>

    <NIST_STS_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/sts-2.1.2/assess</BINARY_PATH>
        
        <DEFAULT_TESTS>1-15</DEFAULT_TESTS>
        <DEFAULT_STREAM_SIZE>1000000</DEFAULT_STREAM_SIZE>
        <DEFAULT_STREAM_COUNT>100</DEFAULT_STREAM_COUNT>
    </NIST_STS_SETTINGS>

    <TESTU01_SETTINGS>
        <BINARY_PATH>/home/lubo/Desktop/TestU01/build/release/TestU01</BINARY_PATH>
        
        <DEFAULT_TESTS_SCRUSH>1-10</DEFAULT_TESTS_SCRUSH>
        <DEFAULT_TESTS_CRUSH>1-96</DEFAULT_TESTS_CRUSH>
        <DEFAULT_TESTS_BCRUSH>1-106</DEFAULT_TESTS_BCRUSH>
        <DEFAULT_TESTS_RABBIT>1-26</DEFAULT_TESTS_RABBIT>
        <DEFAULT_TESTS_ALPHABIT>1-9</DEFAULT_TESTS_ALPHABIT>
        <DEFAULT_REPETITIONS>1</DEFAULT_REPETITIONS>
        <DEFAULT_BIT_NB>4000000000</DEFAULT_BIT_NB>
        <DEFAULT_BIT_R>0</DEFAULT_BIT_R>
        <DEFAULT_BIT_S>32</DEFAULT_BIT_S> 
    </TESTU01_SETTINGS>

    <EACIRC_SETTINGS>empty</EACIRC_SETTINGS>
    
</RANDOMNESS_TESTING_TOOLKIT>
